
html , body , p  {
  padding: 0;
  margin: 0;
}
/* grid */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-area: auto ;
  grid-gap: 2px;
}

.header {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
  border: 1px solid black;

}

.container > * {
  border-radius: 3px;
  padding: 16px;
}

.footer {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
  border: 1px solid black;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: none;
  }
}
.item1{
  border: 1px solid black;
}

/* table */
.flex-container{
  display: flex;
  justify-content: space-around;
  border:1px solid black ;

}
.div1 {
  width: 300px;
  margin: 10px;
  text-align: center;    
  font-size: 15px;
  width: 50%;
  
}
table, td, th {
  border: 1px solid;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th{
  background-color: lightgrey;
}
td, th{
  padding: 10px 2px ;
}

/********** form *************/

input[type=text], select, textarea {
  width: 60%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #047eaa;
  padding: 10px 2px 10px 2px;
  color: white;
  width: 65%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  resize: vertical;
  margin-top: 10px;

}

input[type=submit]:hover {
  background-color: #4560a0;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
  }
}
.vl {
  border-left: 1px solid rgb(0, 0, 0);
  height: 400px;
  margin-right: 80px;
}
